20_Development/99_Others/01_VF_IR_SOAF/SOAFramework/soaf/businessServices/commandExecutor_v1/schemas/commandExecutorService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:ns0="http://ws.esb.telco.com/commandExecutor/exec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.esb.telco.com/commandExecutor/exec">
	<xsd:complexType name="execResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:commandExecutorResponse" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="exec">
		<xsd:sequence>
			<xsd:element name="command" type="xsd:string" minOccurs="0"/>
			<xsd:element name="debugMode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="commandExecutorResponse">
		<xsd:sequence>
			<xsd:element name="commandOutput" type="xsd:string" minOccurs="0"/>
			<xsd:element name="responseCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="responseMessage" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="execResponse" type="ns0:execResponse"/>
	<xsd:element name="exec" type="ns0:exec"/>
</xsd:schema>