20_Development/99_Others/01_VF_IR_SOAF/SOAFramework/soaf/businessServices/serviceConfiguratorService_v1/schemas/serviceConfiguratorService.xsd

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema version="1.0" targetNamespace="http://ws.esb.telco.com/ServiceConfigurator" xmlns:tns="http://ws.esb.telco.com/ServiceConfigurator"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="getServiceConfigurationByName" type="tns:getServiceConfigurationByName" />
	<xs:element name="getServiceConfigurationByNameResponse" type="tns:getServiceConfigurationByNameResponse" />
	<xs:element name="getServiceConfigurationList" type="tns:getServiceConfigurationList" />
	<xs:element name="getServiceConfigurationListResponse" type="tns:getServiceConfigurationListResponse" />
	<xs:complexType name="getServiceConfigurationList">
		<xs:sequence>
			<xs:element name="domain" type="xs:string" minOccurs="0" />
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:element name="target" type="xs:string" minOccurs="0" />
			<xs:element name="service" type="xs:string" minOccurs="0" />
			<xs:element name="version" type="xs:string" minOccurs="0" />
			<xs:element name="username" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getServiceConfigurationListResponse">
		<xs:sequence>
			<xs:element name="configurationList" type="tns:configuration" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="configuration">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="value" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getServiceConfigurationByName">
		<xs:sequence>
			<xs:element name="domain" type="xs:string" minOccurs="0" />
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:element name="target" type="xs:string" minOccurs="0" />
			<xs:element name="service" type="xs:string" minOccurs="0" />
			<xs:element name="version" type="xs:string" minOccurs="0" />
			<xs:element name="username" type="xs:string" minOccurs="0" />
			<xs:element name="paramName" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getServiceConfigurationByNameResponse">
		<xs:sequence>
			<xs:element name="configuration" type="tns:configuration" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>