20_Development/02_Framework/VFG_SIG/SOAFramework/soaf/businessServices/publisherService_v1/schemas/publisherService_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://ws.esb.telco.com/Publisher" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://ws.esb.telco.com/Publisher">

	<xs:element name="storeOperation" type="tns:storeOperation" />
	<xs:element name="storeOperationResponse" type="tns:storeOperationResponse" />

	<xs:complexType name="storeOperation">
		<xs:sequence>
			<xs:element name="messageId" type="xs:string" minOccurs="0" />
			<xs:element name="requestId" type="xs:string" minOccurs="0" />
			<xs:element name="correlationId" type="xs:string" minOccurs="0" />
			<xs:element name="errorCode" type="xs:string" minOccurs="0" />
			<xs:element name="status" type="xs:string" minOccurs="0" />
			<xs:element name="request" type="xs:string" minOccurs="0" />
			<xs:element name="repubInfo" type="xs:string" minOccurs="0" />
			<xs:element name="domain" type="xs:string" minOccurs="0" />
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:element name="target" type="xs:string" minOccurs="0" />
			<xs:element name="service" type="xs:string" minOccurs="0" />
			<xs:element name="version" type="xs:string" minOccurs="0" />
			<xs:element name="username" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="storeOperationResponse">
		<xs:sequence />
	</xs:complexType>
</xs:schema>