20_Development/02_Framework/VFG_SIG/SOAFramework/soaf/businessServices/cleanCache_v1/schemas/cleanCache.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. 
-->
<xsd:schema xmlns:ns0="http://ws.esb.telco.com/SoafCacheClean" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.esb.telco.com/SoafCacheClean">
	<xsd:complexType name="soafCacheCleanResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="soafCacheClean">
		<xsd:sequence>
			<xsd:element name="delayMilliseconds" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="soafCacheCleanResponse" type="ns0:soafCacheCleanResponse"/>
	<xsd:element name="soafCacheClean" type="ns0:soafCacheClean"/>
</xsd:schema>