20_Development/02_Framework/VFG_SIG/SOAFrameworkBackendSimulator/soaf/proxyServices/wsDispatcher_v1/schemas/wsDispatcher.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://xmlns.telco.com/SOAFrameworkBackendSimulator/wsDispatcher/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.telco.com/SOAFrameworkBackendSimulator/wsDispatcher/v1">
        <xsd:element name="wsDispatcherRequest" type="ns0:wsDispatcherRequest"/>
        <xsd:complexType name="wsDispatcherRequest">
		<xsd:sequence>
			<xsd:element name="uri" type="xsd:string" minOccurs="0" />
			<xsd:element name="operation" type="xsd:string" minOccurs="0" />
			<xsd:element name="request" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="wsDispatcherResponse" />
</xsd:schema>