20_Development/02_Framework/VFG_SIG/SOAFramework/soaf/proxyService/cleanCache_v1/schemas/cleanCache.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://xmlns.telco.com/SOAFramework/cleanCache/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.telco.com/SOAFramework/cleanCache/v1">
	<xsd:complexType name="cleanCacheResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cleanCacheRequest">
		<xsd:sequence>
			<xsd:element name="delayMilliseconds" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="cleanCacheResponse" type="ns0:cleanCacheResponse"/>
	<xsd:element name="cleanCacheRequest" type="ns0:cleanCacheRequest"/>
</xsd:schema>