20_Development/02_Framework/VFG_SIG_Utils/SOAFrameworkEARs/soaf-ws/soaf-osb/soaf-osb-lib/etc/wsdl/publisherCallback.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://ws.esb.telco.com/PublisherCallback" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://ws.esb.telco.com/PublisherCallback">
	<xs:element name="republishEvent" type="tns:republishEvent" />
	<xs:element name="republishEventResponse" type="tns:republishEventResponse" />
	<xs:complexType name="republishEvent">
		<xs:sequence>
			<xs:element name="request" type="xs:string" />
			<xs:element name="requestId" type="xs:string" minOccurs="0" />
			<xs:element name="correlationId" type="xs:string" minOccurs="0" />
			<xs:element name="domain" type="xs:string" />
			<xs:element name="category" type="xs:string" />
			<xs:element name="target" type="xs:string" />
			<xs:element name="service" type="xs:string" />
			<xs:element name="version">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numberOfRetries" type="xs:int" minOccurs="0" />
			<xs:element name="maxNumberOfRetries" type="xs:int" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="republishEventResponse">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>